<div id="preload" style="display: none">
  <img src="/images/loader.gif" />
  <img src="/images/raster/black/x_14x14.png" />
  <img src="/images/raster/black/play_18x24.png" />
  <img src="/images/raster/black/pause_18x24.png" />
  <img src="/images/raster/black/plus_24x24.png" />
</div>

<div id="container">
</div>

<script type="text/html" id="tmpl_finder">
  <div id="finder" class="finder">
    <div class="search-field">
        <label for='find'>Find Clip</label>
        <fieldset>
          <input id='find' name='query' type='text' autocomplete='off' />
          <button value="clear" type="button" />
        </fieldset>
    </div>

    <div class="finder-list">
      <ul id="results" class='clips'>
      </ul>
    </div>
  </div>
</script>

<script type="text/html" id="tmpl_player">
  <div class="yt_holder">
    <div id="ytdiv" style="display: none;">
    </div>
  </div>
</script>

<script id="tmpl_clip" type="text/html">
    <h2>{{title}}</h2>
    <div class="status">
      <div class="loaded"></div>
      <div class="playing"></div>
    </div>
    <div class="controls">
      <button class='play' value="play" alt="play" />
      <button class='pause' value="pause" alt="pause" style="display: none"/>
      <button class='video' value="video" alt="show video" style="display: none"/>
      {{^id}}
        <button class='add' value="add to list" alt="add to list" />
      {{/id}}
    </div>
    <div class='time'>{{time}}</div>
    <div class="time_display" style="display: none;">0:00</div>
</script>

<script type="text/javascript">
  $(function() {
    var view = new mauseeki.views.FinderView;
    $("#container").append(view.el);
    view.$("#find").focus();

    mauseeki.player = new mauseeki.views.PlayerView;
  });
</script>
