<div id="container">
</div>

<script type="text/html" id="tmpl_finder">
  <div id="finder" class="finder">
    <div class="search-field">
        <label for='find'>Find Clip</label>
        <input id='find' name='query' type='text'/>
    </div>

    <div class="finder-list">
      <ul id="results" class='clips'>
      </ul>
    </div>
  </div>
</script>

<script type="text/javascript">
  $(function() {
    var view = new mauseeki.views.FinderView({});
    $("#container").append(view.el);
  });
</script>
