html {
  overflow-y: scroll;
}

.yt_holder {
  height: 0;
  overflow: hidden;
}

.finder {
  width: 500px;
  margin-left: 0;
  background-color: #EEDD88;
  padding: 12px 20px;
  .search-field {
    //margin: 12px 20px;
    label[for=find] {
      display: block;
    }

    fieldset {
      width: 95%;
      background: white;
      padding: 0;

      button {
        border: none;
        background: white;
        width: 16px;
        height: 16px;

        &.loading {
          background: url('/images/loader.gif') white no-repeat right center;
        }

        &.clear {
          background: url('/images/raster/black/x_14x14.png') white no-repeat right center;
        }
      }

      #find {
        width: 90%;
        font-size: 16px;
        border: none;
        outline: none;
        padding: 3px;

        &.loading {
        }
      }
    }
  }
}

ul {
  list-style: none;
  padding: 0;
}

.clip {
  width: 425px;
  background: #F5F3EF;
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid #222;

  h2 {
    font-size: 12px;
  }

  .status {
    background-color: #EFEFEF;
    padding: 2px;
    margin-bottom: 10px;

    .loaded, .playing {
      width: 0;
    }

    .loaded {
      background : gray;
      height: 2px;
    }

    .playing {
      background : lightgray;
      margin-top: 2px;
      height: 10px;
    }
  }

  .controls {
    display: inline;

    button {
      width: 24px;
      height: 24px;
      border: none;
      margin-right: 10px;
    }

    .play {
      background: url('/images/raster/black/play_18x24.png') transparent no-repeat right center;
    }

    .pause {
      background: url('/images/raster/black/pause_18x24.png') transparent no-repeat right center;
    }

    .add {
      background: url('/images/raster/black/plus_24x24.png') transparent no-repeat right center;
    }
  }

  .time {
    float: right;
  }

  .time_display {
    display: none;
    z-index: 100;
    background: black;
    color: white; 
    border: 1px solid gray;
    font-size: 10px;
    padding: 1px 2px;
  }
}
