<!DOCTYPE html>
<html>
<head>
  <title>mauseeki</title>

  <link href="//fonts.googleapis.com/css?family=Allerta:regular" rel="stylesheet" type="text/css" > 
  <link href="//fonts.googleapis.com/css?family=Just+Another+Hand:regular" rel="stylesheet" type="text/css" > 
  <link href="//fonts.googleapis.com/css?family=Ubuntu:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" > 

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", :debug => !Rails.env.production? %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
