<!DOCTYPE html>
<html>
<head>
  <title>mauseeki</title>

  <link href="//fonts.googleapis.com/css?family=Allerta:regular" rel="stylesheet" type="text/css" > 
  <link href="//fonts.googleapis.com/css?family=Just+Another+Hand:regular" rel="stylesheet" type="text/css" > 
  <link href="//fonts.googleapis.com/css?family=Ubuntu:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" > 

  <%= stylesheet_link_tag    "application", :debug => !Rails.env.production? %>
  <%= javascript_include_tag "application", :debug => !Rails.env.production? %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <div id="logo">
    <a class="app-link" href="/"> <h1>mauseeki</h1> </a>
  </div>
</div>

<%= yield %>

</body>
</html>
